<h1>NameCard</h1>
<table class="table table-sm table-bordered" style="width: 700px">
    <th>이름</th>
    <th>주소</th>
    <th>직장</th>
    <th>전화번호</th>
    <th>생년월일</th>
    <th>수정</th>
    <th>삭제</th>
    <%
        var i = 0;

        while(i < results.length) {
    %>
        <tr>
            <td class="td td-sm"><%=results[i].name%></td>
            <td><%=results[i].address%></td>
            <td><%=results[i].workplace%></td>
            <td><%=results[i].tel%></td>
            <td><%=results[i].birth%></td>
            <td><a href="/namecard/update/<%=results[i].id%>">update</a></td>
            <td><a href="/namecard/delete_process/<%=results[i].id%>">delete</a></td>
        </tr>
    <%
        i++;
        }
    %>
</table>